body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akaya Telivigala',
    cursive;
    min-height: 100vh;
    background-color: #eee;
}

.opakowanie {
    width: 300px;
    background-color: #fff;
}

.gora {
    padding: 10px 20px;
    align-items: center;
    text-transform: uppercase;
}
