* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-color: #eee;
}

.todo {
    width: 500px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 4px 4px 5px #888;
    text-align: center;
}


.header {
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
}

.header h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.inputTask {
    width: 80%;
    padding: 5px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.addTask {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    transition: color .3s, background-color .3s;
}

.addTask:hover {
    background-color: crimson;
    color: white;
}

.todoList {
    padding: 20px 0;
    margin-bottom: 16px;
}

.todoList h3 {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.todoList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding-left: 20px;
    text-align: left;
    list-style: none;
    background-color: #eee;
}

.tools {
    display: inline-block;
}

.tools button {
    padding: 10px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color .3s;
}

.tools button:hover {
    background-color: #ddd;
}

.completedBtn {
    color: lightseagreen;
}

.deleteBtn {
    color: red;
}



.stronka {
    width: 500px;

}


.btnList {
    width: 100%;
    justify-content: space-between;
}

.btn {
    font-size: 30px;
    padding: 5px 15px;
    background-color: seagreen;
    cursor: pointer;
}

.wybrana {
    margin-top: 30px;
}
